

@font-face {
    font-family: "Rubik_Bold";
    src: url("./fonts/Rubik-Bold.woff") format("woff"),
      url("./fonts/Rubik-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik_Regular";
    src: url("./fonts/Rubik-Regular.woff") format("woff"),
      url("./fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  *{  
      padding: 0px;
      margin: 0;
      font-family: Rubik_Regular;
  }

  .navbar-text{
      color:white
  }

  .navbar {
      background-color: rgb(231, 111, 81)!important;
  }

  .navbar-brand{
    color: white;
    
    font-family: Rubik-Regular;
    font-size: 2rem;
  }
  .navbar-brand:hover{
      color:white;
      font-family: Rubik-Regular;
  }
  .site-header-logo h1{
      color: white;
      background-color:rgb(42, 157, 143);
      font-family: Rubik-Regular;
      font-size: 2rem;
      margin-top: 2rem;

  }
  .btn{
    color: white;
    background-color: rgb(42, 157, 143)!important;
    font-family: Rubik-Regular;
    font-size: 1.5rem;

  }
  .card{
      background-color: rgb(244, 162, 97)!important;
  }

  .card-header{
    background-color: rgb(42, 157, 143)!important;
    color: white;
  }
  body {
      background-color: rgb(38, 70, 83)! important;
      color: white;
  }
