<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">

     <link rel = "stylesheet" href = "{{url_for('static', filename = 'login.css')}}" type = "text/css">   
    {% if title %}
        <title>FetalHealth-{{title}}</title>
    {% else %}
        <title>LOGIN</title>
    {% endif %} 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Fetal Health Analysis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          </ul>
        </div>
      </div>
  </nav>
  </body>
  <main>
    <div class="container-sm">
      <h4 class="text-center">Please enter your credentials to continue</h4>
      <br>
      <div class = "row p-4 "> 
        <div class = "card m-auto" style = "width: 40%;"> 
          <img class="card-img-top" src="/static/baby.png" alt= "image of a baby">
            <div class = ".card-body">
                <di>
                  <form action = "" method = "post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Username</label>
                      <input type="username" class="form-control" name="username" aria-describedby="username" placeholder="enter username" value="{{ request.form.username }}">
                      <small id="usernameHelp" class="form-text text-muted">Don't share your credentials with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" placeholder=" enter password" value="{{
                            request.form.password }}">
                    </div>
                    <div class="col text-center">

                    <button type="submit" class="btn btn-primary btn-sm" value ="Login" >Submit</button>
                    </div>
                  </form>
                  {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                  {% endif %}
                </di>
                
            </div>
          </img>
        </div>
    </div>
      
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>